<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
  <p>{{body}}</p>
</div>
<div class="modal-footer">
  <div [ngSwitch] = "modaltype">
   <div *ngSwitchCase='"1"'> 
  <button type="button" class="btn btn-outline-dark" (click)="ok()">Ok</button>
  </div>
  <div *ngSwitchCase='"2"'> 
      <button type="button" class="btn btn-outline-dark" (click)="Yes()" style="margin-right:10px;">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="No()">No</button>
      </div>
</div>
</div>