	<div class="container-fluid">
		<div class="container">
			<h2 class="text-center" id="title">BookStore Application</h2>
 			<hr>
			<div class="row">
				<div class="col-md-5">
					<div>
						<p *ngIf="messageerrors" style="color:red">{{messageerrors}}</p>
					</div>
 					<form role="form" [formGroup]="UserSignUp" (ngSubmit)="OnSignUp()">
						<fieldset>							
							<p class="text-uppercase pull-center"> SIGN UP.</p>	
 							<div class="form-group">
								<input type="text" name="username" id="username" class="form-control input-lg" placeholder="username" formControlName="SignUpUsername" (blur)="showErrorforspecificcontrol('SignUpUsername')">
							</div>
							<div class="form-group">
								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" formControlName="SignUpEmail" (blur)="showErrorforspecificcontrol('SignUpEmail')">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" formControlName="SignUpPass" (blur)="showErrorforspecificcontrol('SignUpPass')">
							</div>
								<div class="form-group">
								<input type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Confirm password" formControlName="SignUpConfirmpass" (blur)="showErrorforspecificcontrol('SignUpConfirmpass')">
							</div>
 							<div>
 							    <input type="submit" class="btn btn-lg btn-primary" value="Register">
 							</div>
						</fieldset>
					</form> 
				</div>
				
				<div class="col-md-2">
					<!-------null------>
				</div>
				
				<div class="col-md-5">
 				 		<form [formGroup]="login" (ngSubmit)="Onlogin()">
						<fieldset>							
							<p class="text-uppercase"> Login using your account: </p>		
							<div class="form-group">						
                <input type="email" name="username" id="username" class="form-control input-lg" placeholder="username" formControlName="loginUserName">
                <span class="help-block color" *ngIf="formloginErrors.loginUserName">{{formloginErrors.loginUserName}}</span>
							</div>
							<div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" formControlName="loginPass">
                <span class="help-block color" *ngIf="formloginErrors.loginPass">{{formloginErrors.loginPass}}</span>
							</div>
							<div>
                <input type="submit" class="btn btn-primary" value="Sign In">
                <input type="button" class="btn btn-primary" value="Forgot password" style="margin-left: 25px;">
							</div>
 						</fieldset>
				</form>	
				</div>
			</div>
		</div>
	</div>
